<html>
    <head>
        <title>Meme</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="30;url=http://127.0.0.1:80/meme">
        <style>
            body{backgroung-color:#000000;background-repeat:no-repeat}
            h1{text-align:center;font-family:Arial, sans-serif;color:#000000;backgroung-color:#000000}
            p{text-align:center;font-family:Georgia, serif;font-sizq:48px;font-style:normal;color:#000000;backgroung-color:#000000}
        </style>
    </head>
    <body>
        <h1>A website with memes</h1>
        <p>here's some memes</p>
        <p><img src="{{meme_pic}}"></p>
        <p>Current subreddit: {{subreddit}}</p>
    </body>
</html>